

ion-avatar {
    width: 200px;
    height: 200px;
    align-items: center;
    justify-content: center;
}

.slider-img{
    padding: 40px;
}

.btn-primary{
    height: 60px;
   
}
ion-button{
    color: #2DDCDC;
}