<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>

        <ion-title>Sistema Bancario</ion-title>
    </ion-toolbar>
</ion-header>
<!--
<ion-content>
    <ion-list>
        <ion-item>
            <ion-label>
                <ion-icon name="person"></ion-icon>
            </ion-label>
            <ion-input type="text" value="" [(ngModel)]="datos.usuario" placeholder="Username"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>
                <ion-icon name="lock-closed-outline"></ion-icon>
            </ion-label>
            <ion-input type="password" value="" [(ngModel)]="datos.clave" placeholder="Password"></ion-input>
        </ion-item>

        <div class="btn-center-aling" padding>
            <ion-button color="primary" (click)="login()" shape="round">Login</ion-button>
            <ion-button color="primary" shape="round" routerLink="/actualizar">Home</ion-button>
        </div>


    </ion-list>

</ion-content> -->




<ion-content padding>
    <ion-list>

        <ion-item>
            <ion-row>
                <ion-col>
                    <ion-avatar>
                    <div text-center>
                        <img src="../../../assets/debian.png" />
                    
                    </div>
                    </ion-avatar>
                </ion-col>
            </ion-row>


        </ion-item>
        <ion-item>
            <ion-label position="stacked">
                <ion-icon name="mail" item-start></ion-icon>
            </ion-label>
            <ion-input autocomplete="off" [(ngModel)]="datos.usuario" placeholder="Correo Electronico" type="text"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="stacked">
                <ion-icon name="lock-closed-outline"></ion-icon>
            </ion-label>
            <ion-input autocomplete="off" [(ngModel)]="datos.clave" type="password" placeholder="Contraseña"></ion-input>
        </ion-item>

        <ion-button expand="block" share="round" (click)="login()" color="danger">Iniciar Sesion</ion-button>
    </ion-list>


</ion-content>

