<!-- 
<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">{{ folder }}</ion-title>
        </ion-toolbar>
    </ion-header>

    <div id="container">
        <strong class="capitalize">{{ folder }}</strong>
        <p>Explore <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
    </div>
</ion-content>


<app-header></app-header>


-->

<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title> Cuotas</ion-title>
    </ion-toolbar>
  </ion-header>


<ion-content [fullscreen]="true">
   


    <ion-grid>
        <ion-row>
            <ion-col class="color1" size="12" size-lg="4" *ngFor="let char of Characters">
                <ion-card class="ion-card">

                    <ion-card-header>

                        <ion-card-title color="primary">{{char.usuario}}</ion-card-title>
                        <ion-card-title color="warning">{{char.nombre}}</ion-card-title>
                        <ion-card-title color="danger">{{char.apellido}}</ion-card-title>
                    </ion-card-header>

                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>


</ion-content>