ion-content {
    --background: url(../../assets/Fondo_Login.jpg)no-repeat center center / cover;
}

ion-content>h1 {
    font-size: 50px;
    margin: 0 auto;
    position: relative;
    top: 25%;
    left: 22%;
    right: 25%;
    color: #9112e6;
}